PORT=8080
GOOGLE_CLOUD_PROJECT=your-gcp-project-id
BQ_DATASET=planning_app
ADMIN_ACCESS_CODE=Kis123kis1!
# Optional if not using default ADC chain
# GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/service-account.json
